body{
  background-color: #c0c2d8;
  color:rgb(33, 70, 156);
  overflow: hidden;

}

h1{
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}
.todo-wrapper{
  background-color: blanchedalmond;
  padding: 2%;
  width: fit-content;
  margin:auto;
  overflow-y: auto;
  box-shadow: 0px 5px 7px  ;
  border-radius: 10px;
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.todo-input-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;

}

.todo-input-items label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-items input{
  padding: 10px;
  width:250px;
  border-color:rgb(33, 70, 156); 
  border-radius: 10px;
}

.todo-input-items input:focus{
  outline: none;
  border-width: 2px;
  border-color: seagreen;
  width:300px;
  
}

.PrimaryBtn{
  background-color: rgb(33, 70, 156);
  color: white;
  padding: 10px 20px;
  margin-top: 55%;
  border-radius: 10px;
}

.PrimaryBtn:hover{
  background-color: seagreen;
}


.button-area{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.secondaryBtn{
  background-color: rgb(33, 70, 156);
  color: white;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.active{
  background-color: seagreen;
}


.todo-list{
  display: flex;
  flex-direction: column;
  
}

.todo-item{
  border: black 2px solid;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.todo-item:hover{
  background-color: rgb(33, 70, 156);
  color: white;
  padding-top: 23px;
  padding-bottom: 23px;
}

.todo-item-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.complete-btn{
  background-color: rgb(15, 92, 52);
  color: white;
  padding: 5px 10px;
  border: white 2px solid;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 25px;

}

.complete-btn:hover{
  background-color: seagreen;
}

.delete-btn{
  background-color: rgb(156, 56, 33);
  color: white;
  padding: 5px 10px;
  border: white 2px solid;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.delete-btn:hover{
  background-color: rgb(192, 22, 22);
}